// 表格
.el-table--border .el-table__inner-wrapper::after, .el-table--border::after, .el-table--border::before, .el-table__inner-wrapper::before{
    display: none;
}

.el-table__border-left-patch{
    display: none;
}

.el-scrollbar__bar{
  background:  var(--scrollbar-track-color);
  border-radius: 0;
}

.el-scrollbar__thumb{
    opacity: 1;
}