html.normal {
    /* drawer */
    --el-dialog-padding-primary: 16px;

    /* 基础 */
    /* --el-fill-color-blank: rgb(228, 235, 249); */
    --el-border-radius-base: 0;
    --el-text-color-placeholder: rgb(78, 90, 113);
    --el-text-color-regular:rgb(78, 90, 113);
}

/* button */
html.normal .el-button--primary{
    --el-button-bg-color: rgb(16, 137, 255);
}