// 表格
.el-table--border .el-table__inner-wrapper::after,
.el-table--border::after,
.el-table--border::before,
.el-table__inner-wrapper::before {
    display: none;
}

// button
.el-button--primary {
    border: none;
}

.el-table__border-left-patch {
    display: none;
}

.el-scrollbar__bar {
    //   background:  var(--scrollbar-track-color);
    border-radius: 0;
}

.el-scrollbar__thumb {
    opacity: 1;
}

// placeholder
.el-input__inner::placeholder,
.el-select__placeholder.is-transparent {
    color: var(--placeholder-color);
    opacity: .5;
}

.el-input__wrapper,
.el-input__wrapper.is-focus,
.el-input__wrapper:hover,
.el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-input__wrapper.is-focus,
.el-form-item.is-error .el-input__wrapper:hover,
.el-select__wrapper,
.el-select__wrapper.is-focused,
.el-select__wrapper:hover,
.el-select__wrapper.is-hovering:not(.is-focus),
.el-range-editor.is-active:hover,
.el-range-editor.is-active {
    box-shadow: none;
}

.el-input__wrapper,
.el-select__wrapper {
    border: 1px solid var(--select-border-color);
}