html.normal {
    /* drawer */
    --el-dialog-padding-primary: 16px;

    /* 基础 */
    /* --el-fill-color-blank: rgb(228, 235, 249); */
    --el-border-radius-base: 0;
    --el-text-color-placeholder: rgb(78, 90, 113);
    --el-text-color-regular:rgb(78, 90, 113);

   /* 状态 */
   --el-color-success:var(--online-bg-color);

   --el-color-info:var(--normal-title-color);
   --el-font-size-base:12px;
}

/* button */
html.normal .el-button--primary{
    --el-button-bg-color: var(--btn-bg-color);
    --el-button-hover-bg-color:rgb(11, 95, 178);
}

/* radio */
html.normal .el-radio-button{
    --el-radio-button-checked-bg-color:var(--btn-bg-color);
}

html.normal .el-pagination{
    --el-pagination-button-width:28px;
    --el-pagination-button-height:28px;
}

html.normal .el-scrollbar{
    --el-scrollbar-bg-color:var(--scrollbar-thumb-color)
}