// 表格
.el-table--border .el-table__inner-wrapper::after,
.el-table--border::after,
.el-table--border::before,
.el-table__inner-wrapper::before {
    display: none;
}


// button
.el-button--primary {
    border: none;
}

.el-table__border-left-patch {
    display: none;
}

.el-scrollbar__bar {
    border-radius: 0;
}

.el-scrollbar__thumb {
    opacity: 1;
}

// placeholder
.el-input__inner::placeholder,
.el-select__placeholder.is-transparent {
    color: var(--placeholder-color);
}

.el-input__wrapper,
.el-input__wrapper.is-focus,
.el-input__wrapper:hover,
.el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-input__wrapper.is-focus,
.el-form-item.is-error .el-input__wrapper:hover,
.el-select__wrapper,
.el-select__wrapper.is-focused,
.el-select__wrapper:hover,
.el-select__wrapper.is-hovering:not(.is-focus),
.el-date-editor.el-input__wrapper,
.el-date-editor.el-input__wrapper:hover ,
.el-range-editor.is-active:hover,
.el-range-editor.is-active,
.el-date-editor.el-input__wrapper.el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-input__wrapper.is-focus,
.el-form-item.is-error .el-input__wrapper:focus,
.el-form-item.is-error .el-input__wrapper:hover,
.el-form-item.is-error .el-select__wrapper,
.el-form-item.is-error .el-select__wrapper.is-focus,
.el-form-item.is-error .el-select__wrapper:focus,
.el-form-item.is-error .el-select__wrapper:hover,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner.is-focus,
.el-form-item.is-error .el-textarea__inner:focus,
.el-form-item.is-error .el-textarea__inner:hover,.el-textarea__inner:focus ,.el-textarea__inner,.el-textarea__inner:hover{
    box-shadow: none;
}

.el-input__wrapper,
.el-select__wrapper {
    padding: 0 11px;
    border: 1px solid var(--select-border-color);
}

.el-textarea__inner{
    border: 1px solid var(--select-border-color);
}

.el-tabs--border-card {
    border: none;
    background: none;
}

.el-tabs--border-card>.el-tabs__header {
    line-height: 40px;
    font-size: 14px;

    cursor: pointer;
    user-select: none;
    background: transparent;
    border-bottom: none;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item {
    width: 145px;
    margin: 0;
    font-size: 14px;
    color: var(--panel-text-color);
    background: var(--panel-bg-color);
    border: none;
    text-align: center;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active ,.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active:hover{
    font-weight: bold;
    color: var(--text-color) !important;
    background: var(--btn-bg-color);
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: var(--panel-text-color);
}


.el-tabs--border-card>.el-tabs__content {
    padding: 0;
}

.el-radio-button__inner {
    padding: 9px 15px;
}