// 全局 CSS 变量
@import "./variables.css";
@import "./element-plus.css";

// 注册多主题
@import "./theme/register.css";
// 工具类
@import './tools.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    color: var(--body-text-color);
    font-size: var(--body-text-size);
    background-color: var(--body-bg-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    @extend %scrollbar;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

#app {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}