/**
* 默认变量
*/
:root {
    --body-text-color: #000;
    --body-text-size: 12px;
    --body-bg-color: #F6F4FC;
    --drawer-bg-color: #001428;
    --card-detail-bg-color:#F3F3F3;

    /* 主要颜色 */
    --label-color:rgba(0, 0, 0, 0.54);
    --background-color: #FFF;
    --text-color: #FFF;
    --br-color: #F0F0F0;
    --text-normal-color: #2c393b;
    --normal-title-color: #4E5A71;
    --normal-active-color:#1089FF;
    --normal-subtitle-color:rgb(78,90,113,.85);
    --normal-border-color: #D3DCEE;
    --card-border-color:#f0f0f0;
    --normal-icon-bg-color: rgb(78, 90, 113);
    --normal-icon-text-color:rgb(78, 90, 113);
    --offline-bg-color: rgb(208,212,214,.6)    ;
    --offline-text-color:#666;
    --offline-border-color: #bdc2c5;
    --online-bg-color: #77ad57;
    --online-text-color:#46be00;
    --online-border-color:#0caf60;


    /* 滚动条 */
    --scrollbar-thumb-color: #6b7a99;
    --scrollbar-track-color: #d3dcee;
    /* 登录 */
    --login-bg-color: #F6F9FF;
    --login-icon-color: #A2B1CD;

    /* 图标颜色 */
    --icon-color: #1F57C3;

    /* button颜色 */
    --btn-normal-color:#1F57C3;
    --btn-bg-color: #1089FF;
    --btn-hover-color: rgb(11, 95, 178);
    

    /* nav */
    --nav-header-text-color: #FFF;
    --nav-header-bg-color: #1F57C3;
    --nav-header-height: 60px;

    /* main */
    --main-height: calc(100vh - var(--nav-header-height));

    /* sidebar组件 */
    --sidebar-width: 220px;
    --sidebar-menu-item-height: 46px;
    --sidebar-bg-color: #FFF;
    --sidebar-title-color: #4E5A71;
    --sidebar-active-color: #FFF;
    --sidebar-active-bg-color: #1089FF;
    --sidebar-hover-bg-color: #E4EBF9;

    /* tagsview */
    --tagsview-height: 32px;

    /* 首页 */
    --card-bg-1: #67afff;
    --card-bg-2: #4F60FF;
    --card-bg-3: #FFB73C;
    --gap-width: 16px;

    --home-message-width: 360px;
    --home-message-title-color: #999;
    --home-message-info-color: #666;
    --home-message-item-bg: #EEE;
    --home-message-date-color: #BBB;

    /* table */
    --table-th-bg-color: #E3E5EC;
    --table-th-text-color: #2c393b;
    --table-tbody-text-color: #666;

    /* 标题 */
    --panel-text-color: #4E5A71;
    --panel-bg-color:#E1E6ED;
    --panel-active-color:#46B4E6;

    /* 图形颜色 */
    --chart-pie-offline-color: #EE6666;
    --chart-pie-value-color: #484848;
    --chart-total-color: #FFB73C;
    --chart-percent-color: #4F60FF;


    /* 下拉框 */
    --select-bg-color: rgb(228, 235, 249);
    --select-text-color: rgb(78, 90, 113);
    --select-border-color: rgb(107, 122, 153);


    /* 图表 */
    --bar-width: 30;
    --bar-gap: 20;
    --chart-base-color: rgb(16, 137, 255);
    --legend-bg-color-1: #5B8FF9;
    --legend-bg-color-2: #9270CA;
    --legend-bg-color-3: #FF9D4D;

    /* 删除色 */
    --delete-text-color:#ff5859;

    /* placeholder */

    --placeholder-color:rgb(78, 90, 113,.8);


    /* 指令 */
    --command-time-color:#999;
    --command-message-res-bg:#D2DDF3;
    --command-message-req-bg: #F0F2F5;
    --command-message-color:#333;
    --command-message-bg:#FCF6EB;


    /* 大屏 */

    --screen-card-border: #00787b;
    --screen-card-bg:rgba(2,18,67,.3);
 
}